/*
by Andrew Shearer 2004-12-26
amc2005@shearersoftware.com

Colors:
#369 Medium Blue
#A56E27 Brown (complement to #369)
#A55027 Reddish Brown (off-complement to #369)
#D4E5F7 Light Blue (lightened #369)
#2E4C6B Dark Blue (darkened #369)
#1F3047 Darker Blue (darkened #369)
#69C Light Blue
#036 Dark Blue
#DDD Light Gray

2006-06-25 renaming for iCalendar microformat
.trip -> .vevent
.trip .title -> .vevent .summary
.trip .desc -> .vevent .description
*/

/*@import('ymStyle.css');*/
html, body, td {font: 12px/16px "Lucida Grande", Verdana, "Bitstream Vera Sans", Geneva, Arial, sans-serif}
.pageContent {padding: 0 1em}
.pulloutPhoto {float: right; border: 1em solid white; border-width: 0.7em 0.2em 0.7em 1em;
    background-color: white /* wipe out blue stripe while image loads */}
h2 {background-color: #369; color: white; padding: 0.2em 0.7em 0.3em 0.7em; margin: 1em 0 0.5em 0;
    font-size: 140%; border: 1px solid #2E4C7B; border-width: 1px 0}

.contents td a {text-decoration: none; color: inherit}
.contents td a:hover {text-decoration: underline}
.contents .section td {padding-top: 0.8em; border-bottom: 1px solid #369; padding-left: 0.7em; color: #A55027; background-color: inherit; padding-bottom: 0.3em; font-weight: bold}
.contents .date {text-align: right; vertical-align: top; white-space: nowrap; border-right: 1px solid #D4E5F7; padding-top: 0.3em; padding-left: 0.5em}
.contents .title {vertical-align: top; padding-left: 0.7em; padding-top: 0.3em; color: black}
.contents .title a {color: black}
.contents .emptySection td {padding-left: 0.7em; padding-top: 0.3em; font-style: italic}

.rating .inner {/*vertical-align: 2px;*/ color: white; background-color: #369; padding: 0 2px; cursor: pointer}
.vevent {margin-bottom: 0.7em; margin-top: 0.7em; padding-bottom: 0.7em; border-bottom: 0px solid #D4E5F7}
.vevent .date, .contents .date {padding-right: 0.7em; color: #1F3047}
.vevent .date {margin-right: 0.5em; font-weight: bold; border-right: 1px solid #369; }
.vevent .summary {font-weight: bold}
.rating {font-size: 90%; color: white}
/*.rating .inner {color: #1F3047; border-bottom: 1px dotted gray}*/
.tagNew, .tagWaitlist, .tagFull, .tagCancel {font-size: 90%; color: white; padding: 0 2px}
.tagNew {background-color: green}
/*.tagWaitlist {background-color: yellow; color: #555}*/
.tagWaitlist {background-color: #999; color: black}
.tagFull, .tagCancel {background-color: red}
.vevent .description {margin-top: 0.2em} /* old class 'desc' */
.ratingKey tbody td, .ratingKey tbody th {vertical-align: top; text-align: left;
border-top: 1px solid gray; border-bottom: none; padding: 0.2em 0.4em 0.2em 0.4em;
white-space: nowrap; font-size: 11px}
.ratingKey tbody td {padding-bottom: 0.3em}
.ratingKey thead th {padding: 0.5em 0.4em; font-size: 12px; text-align: center}
.ratingKey td.gap, .ratingKey th.gap {border: none; background-color: #D4E5F7}
.ratingKey tbody .footnote td {white-space: normal; font-style: italic; padding: 0.6em 0.4em}
.ratingKey tbody .example td {white-space: normal; padding: 0.6em 0.4em; border-top: none}
.ratingKey {margin-bottom: 1em; background-color: #D4E5F7; padding: 0.2em 1em; color: black}
@media print {
    .navOnly {display: none}
    .rating .inner {border-bottom: none; color: black}
    h2 {background-color: white; color: #2E4C68; padding: 0.2em 0; border-top: 1px solid #369; border-bottom: 1px solid #369}
}
