<html>
    <head>
        <title>
            AMC Boston - Intro Committee - Trip Listings
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body text="#000000" vlink="#551A8B" alink="#FF0000" link="#0000EE" bgcolor="#AAC4F2" leftmargin="0" topmargin="0" onload="MM_preloadImages('internet/images/newPage/m1.jpg','internet/images/newPage/m2.jpg','internet/images/newPage/m3.jpg','internet/images/newPage/m4.jpg','internet/images/newPage/m5.jpg','internet/images/newPage/m6.jpg','internet/images/newPage/m7.jpg','internet/images/newPage/m8.jpg','internet/images/newPage/m9.jpg');" marginwidth="0" marginheight="0">
        <div id="Layer1" style="Z-INDEX: 1; LEFT: 10px; WIDTH: 490px; POSITION: absolute; TOP: 5px; HEIGHT: 97px">
            <div align="left"></div>
            <p>
                <img height="36" alt="" src="http://www.amcboston.org/intro/black3.gif" width="38" />
            </p><b><font face="Arial, Helvetica, sans-serif"><font color="#FF9900"><font size="-1"><font size="3">Appalachian Mountain Club<br />
            Boston Chapter</font></font></font></font></b><br />
            <b><font face="Arial, Helvetica, sans-serif"><font color="#FFFFFF"><small><font size="+4"><small><font size="6">INTRO Committee</font></small></font></small></font></font></b>
        </div>
        <table cellspacing="0" cellpadding="0" width="650" border="0">
            <tbody>
                <tr align="left">
                    <td valign="top">
                        <img height="138" alt="" src="http://www.amcboston.org/intro/whitemountains.jpg" width="700" />
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <div align="right">
                            <img height="21" src="http://www.amcboston.org/intro/INTROtopmenu.gif" width="499" usemap="#Map" border="0" /> <map name="topmenu" id="topmenu">
                                <area title="AMC Headquarters" shape="rect" alt="AMC Headquarters" coords="3,3,137,16" href="http://www.outdoors.org/" />
                                <area shape="rect" coords="138,5,145,6" href="http://www.amcboston.org/intro/index.html#" />
                                <area title="AMC Headquarters" shape="rect" alt="AMC Headquarters" coords="133,9,142,10" href="http://www.outdoors.org/" />
                                <area title="AMC Boston" shape="rect" alt="AMC Boston" coords="158,6,286,17" href="http://www.amcboston.org/" />
                                <area title="INTRO Library" shape="rect" alt="INTRO Library" coords="293,1,404,16" href="http://www.amcboston.org/intro/library.html" />
                                <area title="Contact Us" shape="rect" alt="Contact Us" coords="409,3,491,16" href="mailto:epmcmanmon@nii.net" />
                            </map><br />
                            <hr width="100%" size="2" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        
        <p>
            <i><font face="Arial,Helvetica"><font size="-2">Copyright. Appalachian Mountain Club. 2006. All rights reserved.</font></font></i> <font size="-2"></font>
        </p>
        <p>
            <map name="Map" id="Map">
                <area shape="rect" target="_self" coords="1,1,144,22" href="http://www.outdoors.org/" />
                <area shape="rect" target="_self" coords="152,2,277,21" href="http://www.amcboston.org/" />
                <area shape="rect" target="_self" coords="283,2,407,24" href="http://www.amcboston.org/intro/library.html" />
                <area shape="rect" target="_self" coords="414,3,497,17" href="mailto:mmady@mindspring.com" />
            </map>
        </p>
    </body>
</html>
